.anchorpane {
    -fx-background-color: rgba(0, 100, 100, 0.5); 
    -fx-background-radius: 10;
}

.menu-button, .button {
	-fx-font-size: 15.0;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-background-color: white;
}