<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
        <session-factory>
                <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
                <property name="hibernate.connection.url">jdbc:mysql://10.114.34.17:3306/bujocalendar</property>
                <property name="hibernate.connection.password">sera43</property>
                <property name="hibernate.connection.username">appuser</property>
                <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
                <property name="show_sql">true</property>
                <property name="hbm2ddl.auto">update</property>
                <mapping class="MetropoliaAMKgroup02.hibernateTest.Event"></mapping>
                <mapping class="MetropoliaAMKgroup02.Backend.model.Henkilo"></mapping>
                <mapping class="MetropoliaAMKgroup02.Backend.model.Merkinta"></mapping>
        </session-factory>
</hibernate-configuration>